/* ./src/styles/global.css */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.outer-scroll-container {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-snap-type: y proximity;
}
::-webkit-scrollbar {
    display: none;
}

.inner-scroll-container {
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    height: 100vh;
}

.scroll-item {
    min-width: 100vw !important;
    width: 100vw;
    scroll-snap-align: center;
}

@tailwind base;
@tailwind components;
@tailwind utilities;