/* ./src/styles/global.css */

@font-face {
    font-family: NeueHaas;
    src: url(../static/fonts/NeueHaasVariableV1.2.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.outer-scroll-container {
    height: 100vh;
    overflow-y: hidden;
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
    scrollbar-width: none;
}
::-webkit-scrollbar {
    display: none;
}

.inner-scroll-container {
    height:100%;
}

.scroll-item {
    min-width: 100vw !important;
    width: 100vw;
    scroll-snap-align: center;
    height:100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
}

/* collapse repeating elements into scroll item */
.scroll-speaker1 {
    background-image: url('../static/images/speaker1.png');
    background-size: 95vh;
    
}

.scroll-speaker2 {
    background-image: url('../static/images/speaker2.png');
    background-size: 70vh;
}

.scroll-speaker3 {
    background-image: url('../static/images/speaker3.png');
    background-size: 80vh;
}

.scroll-speaker4 {
    background-image: url('../static/images/speaker4.png');
    background-size: 80vh;
}

.panel-active {
    border-top: 1px solid #E61B2E;
}

.panel-notactive {
    border-top: 1px solid transparent;
}

.panel-speaker1{
    background: url('../static/images/speaker1.png') center no-repeat;
    background-size: 150%;
}

.panel-speaker2{
    background: url('../static/images/speaker2.png') center no-repeat;
    background-size: 110%;
}

.panel-speaker3{
    background: url('../static/images/speaker3.png') center no-repeat;
    background-size: 150%;
}

.panel-speaker4{
    background: url('../static/images/speaker4.png') center no-repeat;
    background-size: 150%;
}

.one-px {
    width: 1px;
}

.glass-container {
    background: url('../static/images/speaker4.png');
    background-position: center;
    border-radius: none;    
}

.glass {
   backdrop-filter: blur(15px);
   /* background: green; */

}

@tailwind base;
@tailwind components;
@tailwind utilities;